.header {
    padding: 1.5rem;
    border-bottom: 1px solid var(--gray-light);

    @media (max-width: 520px) {
        padding: 1rem 0;
    }

    & > div {
        max-width: 70.5rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;

        img {
            max-height: 3rem;
        }

        @media (max-width: 768px) {
            flex-direction: column;

            > div > div {
                margin-bottom: 2rem;
            }
        }
    }
}
