.modalFormPerson {
    height: 100%;
    width: 100%;
    background: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    b {
        font: 700 1.5rem "Poppins", sans-serif;
        color: var(--black);
        margin-bottom: 0.75rem;
        text-align: center;
    }

    p {
        font: 400 1rem "Roboto", sans-serif;
        color: var(--gray-dark);
        margin-bottom: 2.5rem;
        text-align: center;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        @media (max-width: 400px) {
            flex-direction: column;
        }

        button {
            padding: 0.875rem 2rem;
            cursor: pointer;
            border: 1px solid transparent;
            border-radius: 0.5rem;
            transition: filter 0.2s;

            @media (max-width: 400px) {
                width: 100%;
            }

            &:hover {
                filter: brightness(0.9);
            }

            &:first-child {
                background: var();
                color: var();
            }

            &:last-child {
                background: var(--red);
                color: var(--white);
            }
        }
    }
}
